<div class="bg-white rounded-md shadow-md w-full p-4" *ngIf="isVisible()">

  <section class="flex flex-col gap-4">
    <h2 class="text-lg font-bold">Description</h2>

    <p class="text-gray-700 text-sm">
      Escape the stress and indulge in a premium sauna experience! Whether you're looking to unwind after a long day,
      enjoy
      a
      romantic retreat, or host a wellness gathering, our beautifully designed private sauna is the perfect destination
      for
      pure relaxation.
    </p>
  </section>
</div>
