<div class="flex items-center justify-center gap-1">
  <div class="flex items-center justify-center h-6">
    <span class="text-base font-semibold">{{ rating }}</span>
  </div>
  <div class="flex h-5.5">
    <div class="relative">
      @for (star of getStars(); track star) {
      <ng-icon name="heroStar" />
      }
    </div>
    @for (star of getHalfStars(); track star) {
    <div class="relative">
      <ng-icon name="heroStar" />
      <div class="w-2 h-8 bg-white absolute top-0 left-2"></div>
    </div>
    }
  </div>
</div>
